bin/block-hosts linguist-language=Shell linguist-vendored=false
bin/colors-tmux linguist-language=Shell linguist-vendored=false
bin/create-ico linguist-language=Shell linguist-vendored=false
bin/curl-headers linguist-language=Shell linguist-vendored=false
bin/e linguist-language=Shell linguist-vendored=false
bin/git-convert-into-bare linguist-language=Shell linguist-vendored=false
bin/git-find-file-with linguist-language=Shell linguist-vendored=false
bin/github-url linguist-language=Shell linguist-vendored=false
bin/install-go-tools linguist-language=Shell linguist-vendored=false
bin/portcheck linguist-language=Shell linguist-vendored=false
bin/v linguist-language=Shell linguist-vendored=false
